
 <footer>
<div class="container">
<p>Put together in less than five minutes by </p>


      
        <div class="copyright">
          &copy; Copyright 2014 <span title="TrendStock">Trenndstock Inc.</span>
        </div>
      </div><!-- end #footer-wrapper -->
    </div><!-- end #footer -->
    <div id="footer-outer"></div>
    </div>
  </footer>