

<div id = "Tweets" class ="container">
	
	    <div class="well sponsor">
	        <div class "align-left">
				<h3>  Twitts </h3>
				<div class = "pre-scrollable">
					<div class = "model">
						<thead>
					            <tr>
					                <th>Counts</th>
					            </tr>
			        		</thead> <% for i in 0..(@retweet_count_array.length-1) %>
						    		
								<tr>
							        
							        	<td><%= @retweet_count_array[i] %></td>
							        
							        
							    </tr>
									<% end %>
									
						</table>
					</div>
				</div>
			</div>
	    </div>
	
</div>
