
<div id = "TopTrendList" class ="well" data-toggle="tooltip" data-placement="top" title="Click on Trend Name to see the graphical analysis  !!">
	<div id="trendlist">
	    <div class="well sponsor">
	        <div class "align-left">
				<h3> Top Trends </h3>
					<table id = "subTable" class="table table-hover">
				        		<% for i in 0..(@temp.length-1) %>
										<tr>
									        	<p align="left" >
									        	<%= link_to @temp[i], home_getTrendData_path(foo_params: @temp[i]), id: [i], data: { keybinding: [i] }   %>
									        	</p>
									    </tr>
									   
									<% end %>
					
					</table>
			</div>
	    </div>
	</div>
</div>
<script >

$(document).ready(function(){
  $("div").find("table").css({"color":"red","border":"2px solid red"});
  });
});
</script>

