

<div id = "TopTrendList" class ="container">
	<div id="trendlist" class="col-lg-10" style="padding: 15px 15px 5px 10px;">
	    <div class="well sponsor">
	        <div class "align-left">
				<h3> Top # to Bet for you !! </h3>
				<div class = "model">
						<table id = "trendtable" class="table table-striped table-hover">
							<thead>
					            <tr>
					                <th>Trend</th>
					                <th>Bets</th>
					            </tr>
			        		</thead>
			        			<tr>
			        				<table id ="subtable" class="table table-striped table-hover">
			        					<tr id = "subTableRowOne">
								        <td  >
								        	<%= link_to @temp[i], home_getTrendData_path(foo_params: @temp[i]), id: [i], data: { keybinding: '' }   %>
								        </td>
								        <td >
								        	<button type="button" class="btn-custom-green" data-toggle="tooltip" data-placement="left" title="Click Here To Bet Now !!" style = "width:60px" onclick="betResult()"><i class="icon-white icon-arrow-down"><%= 100/(i+1) %> + </button>
								        	
								        	<button type="button" class="btn-custom-red" data-toggle="tooltip" data-placement="right" title="Click Here To Bet Now !!" style = "width:60px" onclick="betResult()"><%= 100 /(i+1) %> - </button>

								        	<button type="button" class="btn-custom-red" data-toggle="tooltip" data-placement="right" title="Click Here To Bet Now !!" style = "width:60px" onclick="myToggle()"> click </button>
								        </td>
								        
								    </tr>
								        <tr>
								        	<td>
								        		<Span id="container">
								        			
															<%= render partial: 'shared/showGraph2'%>
													
								        		</span>
								        	<td>
								        </tr>
							        </table>
							    </tr>

							    
								
							        
							   
									
						</table>
					</div>
			</div>
	    </div>
	</div>
</div>

</script>
<script>


;
 


$(document).ready(function(){
  $("div").find("table").css({"color":"red","border":"2px solid red"});
  });
});
</script>

