

<div id = "TopTrendList" class ="well" data-toggle="tooltip" data-placement="top" title="Click on Trend Name to see the graphical analysis  !!">
	<div id="trendlist">
	    <div class="well sponsor">
	        <div class "align-left">
				<h3> Top # to Bet for you !! </h3>
				<div class = "model">
						<table id = "trendtable" class="table ">
							<tr>
								<td> 
				        		<% for i in 0..(@temp.length-1) %>
							    	<table id = "subTable" class="table table-hover">
										<span>
										<tr>
									      
									        	<p align="left" >
									        	<%= link_to @temp[i], home_getTrendData_path(foo_params: @temp[i]), id: [i], data: { keybinding: [i] }   %>
									        </p>
									       
									        
									        	<p align="top-right" >
									        	<button type="button" class="btn btn-success" data-toggle="tooltip" data-placement="left" title="Click Here To Bet Now !!" style = "width:60px" onclick="betResult()"><i class="icon-white icon-arrow-down"><%= 100/(i+1) %> + </button>
									        	
									        	<button type="button" class="btn btn-danger" data-toggle="tooltip" data-placement="right" title="Click Here To Bet Now !!" style = "width:60px" onclick="betResult()"><%= 100 /(i+1) %> - </button>

									        	
									        </p>
									       
									        
									    </tr>
									    </span>
									    <span>
									   
									    	
									    	<td id = "subTableRow2" class = "well" >
												<marquee>@pankks I have placed a bet on #cocukkatilleriasılsın #Bet..cool aplication</marquee>
											
										</td>
										
										</span>

									</table>
								        
									<% end %>
								</td>
							</tr>
						</table>
					</div>
			</div>
	    </div>
	</div>
</div>

</script>
<script>


;
 


$(document).ready(function(){
  $("div").find("table").css({"color":"red","border":"2px solid red"});
  });
});
</script>

