
   



	<div id="tweeterTimeline">
	    <div class="well sponsor">
	        <div class "align-right">
				<h3> Twitter Timeline </h3>
					<table id = "subTable" class="table table-hover">
				        		<tr>
   
   </tr>
   <% @user_timeline.each do |t| %>
   <tr>
    <th><%= t.user.name %></th>
   <th><img src="<%= t.user.profile_image_url %>" /></th>
   <th><%= t.text %></th>
       </tr>
   <% end %>
					
					</table>
			</div>
	    </div>
	</div>
