



<div class ="row">

	<div id ="trendlist" class = "col-lg-5">
		<%= render partial: 'shared/account'%>
	</div>
	<div id="container" class = "col-lg-5" >
		<div class = "well">
           
           
           
 
	
</div>
</div>
	