

<div class ="row">

	<div id ="trendlist" class = "col-lg-6">
		<%= render partial: 'shared/showTrendList'%>
	</div>
	<div id="container" class = "col-lg-6" >
           
	<%= render partial: 'shared/showGraph'%>
	 
	

</div>
	




