home#getTrendData


<h1>Use JQuery UI for drag and drop</h1>
<h2>create a separate function in controller for accessng search tweet</h2>

<%= @count.inspect %>

<%= link_to "Back", {controller: "home", action: "show"} %>


<div id="container" class = "col-lg-6" class = "align-right"> </div>
	<%= render partial: 'shared/showGraph'%>
</div>
