
<button>get the data</button>


<div class = "container ">
<%= render partial: 'shared/trendList'%>
</div>



<script >

/*$(document).ready(function(){
	$.post("home/retweet_count",
		function(data){
			alert(data)
		});

       });
 */

 $(document).ready(function(){
    $.get("home/retweet_count",function(data,status){
      
    });
  });



 </script>