


<div class="container">
  <div class="row clearfix">
    <div class="col-md-12 column">
      <div class="row clearfix">
        <div class="col-md-3 column">
          
  
 
   <%= render partial: 'shared/showTrendList'%>
  
  

        </div>
        <div class="col-md-5 column">
          <div class = "well">
           
            <%= image_tag 'me.png', :size => "420x200" %>
           </div>
          <%= render partial: 'shared/trendList'%>
        </div>
        <div class="col-md-4 column" data-toggle="tooltip" data-placement="left" title="Click Here To Bet Now !!">
           <%= render partial: 'tweetPanal'%>
        </div>
      </div>
    </div>
  </div>
</div>


<section id="AboutUs">
      <div class="page-header">
    <h1>About Us
      
    </h1>
  </div>
   

</section>


<script>



$('#trendlist').countdown({2: 5, 
    layout: '{sn} {sl}, {mn} {ml}'});
</script>

<script>
$("container").click(function(){

	
		alert("td")}
	});
});


</script>


<script >
 $(document).ready(function(){
    $.get("home/retweet_count.json",function(data,status){
//    console.log("Data: " + data + "\nStatus: " + status);
//$("#c1").text(data["retweet_count"]);
  $.each(data,function(key,value){
    alert(key+" - "+value.question.title + " - "+value.question.created_at+" ...")
})
    });
       
    });
 


 </script>
